html {
background-image: url(images/pills.jpg);
background-repeat:repeat-y;
background-size: 100%, 100%;
background-attachment: local;
text-align: center;
}

		form {
			border: 5px solid #c62f32;
			display: inline-block;
			width: 70%;
	 		text-align: left;
			padding: 10px;
			line-height: 1.25;
			background-color: white;
		}


		.whiteBack {
		background-color: c62f32;
		}

		span{
			background-color: white;
		}

		hr {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
		background-color:  #a8a8a8;
		color:  #264d00;
		border: 0 none;
		}

		hr.thin {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		height: 10px;
		background-color: #a8a8a8;
		color: #264d00;
		border: 0 none;
		}


  

		h1 {
		color: #271972;
			font-family: Lucida Sans Unicode, sans-serif;
		font-size: 80px;
		text-align: center;
		}



		h2 {
		color:  271972;
			font-family: Lucida Sans Unicode, sans-serif;
		font-size: 30px;
		text-align: center;
		}

		p
		{
		color:  #271972;
			font-family: Lucida Sans Unicode, sans-serif;
		font-size: 18px;
		text-align: left;
	}

	p.black
	{
	color:  black;
			font-family: Lucida Sans Unicode, sans-serif;
	font-size: 38px;
	text-align: center;
}
/*this is to set the fieldset options*/
		fieldset{
		color:  Black;
			font-family: Lucida Sans Unicode, sans-serif;
		font-size: 18px;
		text-align: left;
	}

/*a is for text editing for links its named one just in case i want to add other types*/
		a.one:link
		{
		color: Black;
		text-decoration: none;
			font-family: Lucida Sans Unicode, sans-serif;
		font-size: 30px
		}

		a.one:visited
		{
		color: Black;
		text-decoration: none;
		}

		a.one:hover
		{
		text-decoration: underline;
		}
